.charRadio {
  margin: 10px;
}

.charRadio:hover {
  border-radius: 6px;
  box-shadow: 2px 2px 5px #395dc1, 0 0 25px #070caf, 0 0 5px #0e1164;
  transform: scale(1.4);
}

.radio:hover {
  cursor: pointer;
}

.charForm fieldset {
  border: none;
}

.radioBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hideBtn {
  display: none;
}

.visibleBtn {
  display: inline;
}

.vs {
  margin-left: 2em;
  margin-right: 2em;
  text-shadow: 2px 2px 5px #395dc1, 0 0 25px #070caf, 0 0 5px #0e1164;
}
